.timeline-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Cartes avec image */
  img.side {
    border-radius: 24px;
    object-fit: cover;
  }
  
  /* Grande carte */
  img.big-card {
    margin-left: 50px;
    width: 230px;
    height: 400px;
  }
  
  /* Petite carte */
  img.small-card {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 220px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }

  img.small-card:hover {
    transform: scale(1.1);
  }

@media (max-width: 900px) {
  img.big-card {
    width: 230px;
    height: 270px;
  }
}
  
  